:root {
  --blue-100: #cae9ff;
  --blue-400: #3070cf;
  --white: #ffffff;
  --subtitle-color-100: #a7afb7;
  --subtitle-color-200: #6a737b;
  --placeholder-color: #d4d4d8;
  --focused-color-100: #eee;
  --input-radius: 42px;
  --container-radius: 20px;
  --basic-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --main-padding: 0 10px 0 10px;
}
